.top {
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

.middle {
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

h1 {
  color: #fff;
}

footer {
  text-decoration: underline;
}

a {
  color: #000;
}

main {
  background-color: #fff;
}

body {
  background-color: #fff;
}

@media only screen and (min-width: 38em) {

  body {
    background-color: #bea586;
    background-image: url("../images/sloth.svg");
    background-size: 48px;
  }

  main {
    background-color: #fff;
  }

}
