.embed {
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

.middle {
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}

figcaption {
  color: #fff;
}

footer {
  text-decoration: underline;
}

a {
  color: #000;
}

article {
  background-color: #fff;
}

body {
  background-color: #fff;
}

@media only screen and (min-width: 38em) {

  body {
    background-color: #bea586;
    background-image: url(".../images/sloth.svg");
  }

  article {
    background-color: #fff;
  }

}
